---
import Header from '../components/Header.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title='Welcome to Astro.'>
    <section>
        <h1 class='text-center text-4xl'>Home page</h1>
    </section>
</Layout>
